table,th,td{
    border: 3px solid black;
}
table{
    background-color:red;
    border-collapse:collapse;
    
}
td{
    text-align: center;
    height:auto;
}
tr:nth-child(odd){
    background-color:white;
    
}
body{
	background: #b3ffb3